
  <h1 class="text-center mt-4"><%= @article.title %></h1>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 ">
          <div class="card text-center mt-4 shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
              <% if @article.user %>
              by <%= link_to @article.user.username , @article.user  %>
                 <%= link_to gravatar_img(@article.user),@article.user%>
                <% end %>
            </div>
            <div class="card-body">
              <div class="card-text text-left"><%= simple_format(@article.description) %></div>
              <% if logged_in? && (@article.user==current_user || current_user.admin?) %>
                <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info"%>
                <%= link_to 'Delete', article_path(@article),method: :delete ,class: "btn btn-outline-danger", data: {confirm: "Are You Sure?"}%>
              <% end %>
            </div>
            <div class="card-footer text-muted">
              <small>Created  <%= time_ago_in_words(@article.created_at)  %> ago , Updated <%= time_ago_in_words(@article.updated_at)  %>   ago</small>
            </div>
          </div>
      </div>
    </div>
  </div>


